.GifContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 80%;
  animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.GifContainer > * {
  flex: 1 1 21%;
}

@media (max-width: 600px) {
  .GifContainer > * {
    flex: 1 1 160px;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
