.Modal {
  position: fixed;
  z-index: 500;
  background-color: black;
  width: 70%;
  height: 70%;
  box-shadow: 0px 1px 2px white;
  padding: 16px;
  left: 15%;
  top: 15%;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  background: transparent;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

.slide {
  margin: 1rem;
  transition: all .2s ease-in-out;
  text-align: center;
    /* width: 400px; */
}
.slide img {
  max-width: 100%;
  max-height: 100%;
    /* height: auto; */

}

@media (min-width: 600px) {
  .Modal {
    /* width: 500px; */
    left: calc(50%-250px);
  }
}